h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 64px;
}
h1::after , h1::before{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50px;
    content:"" ;
    position: relative;
    display: inline-block;
    bottom: 10px;
}
h1::after{
    left: 20px
}
h1::before{
    right: 20px;
}
h1:hover{
    color:blue
}
h1:hover::after, h1:hover::before{
    background-color: blue;
    transition: 3s;
}
.hamster{
    display:flex;
    flex-direction: column;
    gap:10px;
    width: max-content;
}
.hamster a{
    display: inline-block;
    text-decoration: none;
    background-image:linear-gradient(orange,crimson);
    box-shadow: 2px 5px 5px 0 rgb(90, 74, 0);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    transform: translateX(-80%);
    transition: 0.5s;
    padding: 20px 60px 20px 20px;
}
.hamster a:hover{
    transition: 1s transform;
    transform: translateX(-10%);
}